*{
  box-sizing: border-box;
}

body{
  padding: 50;
  max-resolution: 50px;px;
  background-color :black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-weight: bolder;
}
p{
  color: #111;

}
.logoimg{
  float: center;
  width: 200px;
  height: 150px;
}
.logoimg1{
  float: right;
  width: 200px;
  height: 150px;
}
.navStyle{
    border: 2px;
    border-radius: 8px;
clear:left;
}
.footnavStyle{
  float: left;

}
.centerfooter{
  float: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #FBEEC1;
  }
  
  .active {
    background-color: #8D8741;
  }
 
.asideStyle{
    float: right;
    width:60%;
    margin:20px;
    padding: 20px;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
}
.sectionStyle{
    width: 30%;
    margin: 20px;
    margin: 20px;
    padding: 5px;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
    clear:right;
    
}
.footerStyle{
    margin: 10px;
    margin-top: 100px;
    padding: 10px;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
    background-color: #659DBD;
    
}
.articleStyle{
    background-color:  white;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
} 
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

 .leftfooter{
   float:left ;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #DAAD86;
 }
 .centerfoote{
   float:center;
   border: 1px;
   margin: 1px;
   padding: 1px;
 } 



