*{
  margin: 0;
  padding: 0;
  font-family: century;
}

body {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/m-neon-bkgrnd1.jpg);
  background-size: cover;
  background-position: center;
}

header{
  background-size: cover;
  background-position: center;
}

.banner {
  padding: 140px 0 70px 0;
  text-align: center;
}

ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: 0.5s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;

}

ul li.active a{
  background-color: #fff;
  color: #000;
}

.logo img{
  float: right;
  width: 40px;
  height: auto;
  margin-top: 1%;
}

.main{
  max-width: 1200px;
  margin: auto;
}

.title h1{
  color: #fff;
  font-size: 70px;
  margin-bottom: 20px;
}

.btn{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s ease;
  margin-right: 8px;
}

.btn:hover{
  background-color: #fff;
  color: #000;
}

.footerStyle{
  margin: 10px;
  padding: 10px;
  text-align: center;
  border-color: black;
  border-style: ridge;
  border-radius: 10px;
  background-color:  rgba(155, 192, 206, 0.855);
}