* {
    box-sizing: border-box;
  }
  
body {
    font-family:century;
    padding: 10px;
    background: whitesmoke;
  }
  /* Header/Blog Title */
.header {
    padding:300px;
    text-align:right;
    background-image: url(../mig/back1.jpg);
  }
  .title {
    font-size: 30px;
    color: rgb(24, 94, 160);
    float: left;
    padding: 30px;
   }
  

/* Style the topnav links */
   ul{
    float: right;
    list-style-type: none;
    margin-top: 50px;
    }
    
    ul li{
    display: inline-block;
    }
    
   ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px 20px;
    border: 2px solid transparent;
    transition: 0.5s ease;
    }
    
/* Change color on hover */
  ul li a:hover{
    background-color:rgb(57, 193, 202);
    color: #000;
    }
    
    ul li.active a{
    background-color: #bff;
    color: #000;
    }
    
  /* Style the top navigation bar */
.topnav {
 overflow: hidden;
 background-image: url(../img/m-neon-bkgrnd1.jpg)

}



/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: rgb(104, 188, 209);
  margin-top: 20px;
  float: center;
}
.card{
  text-align: center;
  padding: 20px;
  float: center;
  font-size: medium;
}

.right{
  background-color:#7eddf5;
  text-align:center;
  padding:5px;
  margin-top:7px;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
