*{
  box-sizing: border-box;
}

body{
  padding: 30px;
  margin:10px;
  background:white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: bolder;

}
p{
  color: #111;
  font-size: 1em;
}
.logoimg{
  float: center;
  width: 200px;
  height: 150px;
}
.logoimg1{
  float: right;
  width: 200px;
  height: 150px;
}

.container{
  background-image: url("containerBG.jpg");
    margin: 10px;
    padding: 10px;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
    background-color: none(146, 218, 247, 0.855);
    text-align: left;
    align-content: center;
}
.headerStyle{
    margin: 10px;
    padding: 10px;
    border-style: ridge;
    border-radius: 10px;
    background-color: #659DBD;
    text-align: center;
    align-content: center;
}
.navStyle{
    border: 2px;
    border-radius: 10px;
}
.footnavStyle{
  float: right;
  margin-left: 300px;
}
.centerfooter{
  float: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #DAAD86;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #FBEEC1;
  }
  
  .active {
    background-color: #8D8741;
  }
 
.asideStyle{
    float: right;
    width:60%;
    margin:20px;
    padding: 20px;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
}
.sectionStyle{
    width: 30%;
    margin: 20px;
    margin: 20px;
    padding: 5px;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
}
.footerStyle{
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
    background-color: #659DBD;
    
}
.box1{
  background-color: #DAAD86;

}
.box2{
  background-color: #DAAD86;
}
.box3{
  background-color: #DAAD86;
}
.articleStyle{
    background-color:  white;
    border-color: black;
    border-style: ridge;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
} 

 .leftfooter{
   float:left ;
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #DAAD86;
 }
 .centerfoote{
   float:center;
   border: 1px;
   margin: 1px;
   padding: 1px;
 } 
